RewriteEngine on

# Fichiers ou dossiers reels (css, js, images, pdf, zip, etc): pas de reecriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#----------------------------
# REGLE DE RE-ECRITURE

# ROUTE POSTS.SHOW
# PATTERN: /posts/id/slug
# URL: ?posts=show&id=x
RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*$ ?posts=show&id=$1 [L]

#--------------------------------------------
# ROUTE USERS.LOGINFORM
# PATTERN: /users/login-form
# URL: ?users=login-form
RewriteRule ^users\/login\-form$ ?users=login-form [L]

#--------------------------------------------
# ROUTE USERS.LOGINFORM
# PATTERN: /users/login
# URL: ?users=login
RewriteRule ^users\/login$ ?users=login [L]
#----------------------------------------------


#-----------------------------
# FALLBACK
# toute autre URL non prise en charge retour vers index.php
RewriteRule ^ index.php [L]

